.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  background-color: rgb(245,205,79);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.body-container {
  /* border: 1px solid yellow; */
  display:flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-content: center; */
  align-items: center;
  /* height: 100vh; */
}

.btc-search-history {
  border: 1px solid black;
}