.add-address {
  display: flex;
  width: 100%;
  background-color: rgb(245, 205, 79);
  padding-bottom: 20px;
  padding-top: 20px;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
}

.add-address-search-container {
  width: 50%;
  height: 40px;
}

.add-address-textbox {
  width: 79%;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  letter-spacing: 1px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 0px;
  height: 40px;
  outline: none;
}

.add-address-textbox:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}

.add-address-button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: rgb(74, 198, 224);
  font-weight: bold;
  font-size: 12px;
  border: 0px;
  height: 42px;
  width: 20%;
  border-left: 2px solid rgb(245, 205, 79);
  outline: none;
}

.add-address-button:hover {
  color: #31ADC7;
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  .add-address-search-container {
    width: 100%;
  }
  .add-address-button {
    background-color: white;
    vertical-align: middle;
    padding-top: 0;
  }
  .add-address-textbox {
    font-size: 10px;
    border: 0;
    vertical-align: middle;
  }
}

@media only screen and (min-width: 375px) {
  .add-address-search-container {
    width: 100%;
  }
  .add-address-button {
    background-color: white;
    vertical-align: middle;
  }
  .add-address-textbox {
    font-size: 12px;
    border: 0;
    vertical-align: middle;
  }
}

@media only screen and (min-width: 600px) {
  .add-address-search-container {
    width: 100%;
  }
  .add-address-button {
    background-color: white;
    vertical-align: middle;
  }
  .add-address-textbox {
    font-size: 16px;
    border: 0;
    letter-spacing: 1.5px;
    vertical-align: middle;
  }
}

@media only screen and (min-width: 992px) {
  .add-address-search-container {
    width: 60%;
  }
  .add-address-button {
    background-color: white;
    vertical-align: middle;
    font-size: 14px;
  }
  .add-address-textbox {
    font-size: 18px;
    letter-spacing: 2px;
    border: 0;
    vertical-align: middle;
  }
}